<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.takeeat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Takeeat">
        <activity
            android:name=".ui.recipe.RecipeSearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ui.recipe.RecipeDetailActivity" />
        <activity android:name=".ui.recipe.SubtractRefActivity" />
        <activity android:name=".OkActivity" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".ui.myrecipe.RecipeUpload" />
        <activity
            android:name=".ui.recipe.RecipeSearchActivity"
            android:label="레시피 검색"/>
        <activity
            android:name=".ui.refrigerator.RefItemDetailActivity"
            android:label="냉장고 품목" />
        <activity
            android:name=".ui.refrigerator.AddRefrigeratorActivity"
            android:label="냉장고 품목 추가" />
        <activity
            android:name=".ShoppingListActivity"
            android:label="장보기 목록" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:noHistory="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.takeeat.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>